<!--reference: https://www.bootdey.com/snippets/view/Sidebar-left-menu#html-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>수강등록</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/stylesheet.css">
    </head>
    <body>
    <div class="wrapper">
        <div class="header">
            <div>
                OO대학교
            </div>
            <ul class="user">
                <li><a href="/student/register">회원가입</a></li>
                <li><a href="#">로그인</a></li>
            </ul>
        </div>
        <div class="innercontainer">
            <nav class="sidebar">
                <ul>
                    <li><a href="#">수강신청</a></li>
                    <li><a href="#">수강조회</a></li>
                    <li><a href="/course/all">수강조회</a></li>
                    <li><a href="/professor/course/enroll">수강등록: 교수</a></li>
                    <li><a href="/professor/course/all">수강조회: 교수</a></li>
                </ul>
            </nav>
