{{>layout/header}}

        <div class="pagebody">
            <form>
                <div class="form-group">
                    <label for="title">강의 이름</label>
                    <input type="text" class="form-control" id="course_title" placeholder="강의">
                </div>
                <div class="form-group">
                    <label for="author">학점</label>
                    <input type="text" class="form-control" id="course_last_name" placeholder="학점">
                </div>
            </form>
            <a href="/" role="button" class="btn btn-secondary">강의등록 취소</a>
            <button type="button" class="btn btn-primary" id="btn-course-enroll">강의등록</button>

        </div>
    </div>
</div>

{{>layout/footer}}